@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.both_points {
  font-family: 'Nerko One', cursive;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  & h1 {
    font-size: 1.4rem;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
  }
  & p {
    font-family: 'Nerko One', cursive;
  }
}

@media (min-width: 767px) {
  .both_points {
    & h1 {
      font-size: 1.9rem;
      padding: 16px;
    }
    & p {
      font-size: 3.4rem;
      line-height: 20px;
    }
  }
}
@media (min-width: 1025px) {
  .both_points {
    & h1 {
      font-size: 2.2rem;
      padding: 18px;
    }
    & p {
      font-size: 4.5rem;
      line-height: 0px;
    }
  }
}
